
## <summary>policy for aittcoin</summary>


########################################
## <summary>
##	Transition to aittcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`aittcoin_domtrans',`
	gen_require(`
		type aittcoin_t, aittcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, aittcoin_exec_t, aittcoin_t)
')


########################################
## <summary>
##	Execute aittcoin server in the aittcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aittcoin_initrc_domtrans',`
	gen_require(`
		type aittcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, aittcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search aittcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aittcoin_search_lib',`
	gen_require(`
		type aittcoin_var_lib_t;
	')

	allow $1 aittcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read aittcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aittcoin_read_lib_files',`
	gen_require(`
		type aittcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, aittcoin_var_lib_t, aittcoin_var_lib_t)
')

########################################
## <summary>
##	Manage aittcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aittcoin_manage_lib_files',`
	gen_require(`
		type aittcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, aittcoin_var_lib_t, aittcoin_var_lib_t)
')

########################################
## <summary>
##	Manage aittcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`aittcoin_manage_lib_dirs',`
	gen_require(`
		type aittcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, aittcoin_var_lib_t, aittcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a aittcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`aittcoin_admin',`
	gen_require(`
		type aittcoin_t;
		type aittcoin_initrc_exec_t;
		type aittcoin_var_lib_t;
	')

	allow $1 aittcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, aittcoin_t)

	aittcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 aittcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, aittcoin_var_lib_t)

')

